<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="FaceDetectSoap" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://192.168.88.103:8086/FaceDetect.asmx"
          binding="basicHttpBinding" bindingConfiguration="FaceDetectSoap"
          contract="ServiceReference1.FaceDetectSoap" name="FaceDetectSoap" />
      </client>      
    </system.serviceModel>
</configuration>